html {
  font-size: 16px;
}

@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  src: local("Helvetica Neue"), url("../../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"), url("../../fonts/HelveticaNeueCyr-Roman.woff") format("woff");
}
@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  src: local("Helvetica Neue"), url("../../fonts/HelveticaNeueCyr-Medium.woff2") format("woff2"), url("../../fonts/HelveticaNeueCyr-Medium.woff") format("woff");
}
@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  src: local("Helvetica Neue"), url("../../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2"), url("../../fonts/HelveticaNeueCyr-Bold.woff") format("woff");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue";
}

.heading {
  margin-top: 3.69rem;
  padding-bottom: 2rem;
  color: #0500ff;
  text-align: center;
  font-family: "Playfair Display", sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.25rem;
  letter-spacing: 0.0225rem;
  text-transform: uppercase;
  border-bottom: 1px solid #a5a5a5;
}

.carousel {
  position: relative;
  margin-top: 2rem;
  background-color: #f4f4f4;
  padding: 1.12rem 0 1.5rem;
  height: 21.125rem;
  overflow: hidden;
}
.carousel__nav {
  margin-left: auto;
  margin-right: 7.5rem;
  width: fit-content;
}
.carousel__button {
  cursor: pointer;
}
.carousel__button path {
  transition: fill 0.3s ease;
}
.carousel__button:hover path {
  fill: #a5a5a5;
}
.carousel__button.button-previous {
  margin-right: 4.43rem;
}
.carousel__button.button-next {
  transform: rotateZ(180deg);
}
.carousel__wrapper {
  position: absolute;
  margin-top: 1.25rem;
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  transition: transform 0.3s ease;
  left: 0;
}
.carousel__item {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 0.25rem;
  overflow: hidden;
  width: 27.1875rem;
  height: 15.5625rem;
  padding: 1rem;
}

.item__img {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
}
.item span {
  z-index: 2;
  color: #fff;
}
.item__heading {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5rem;
  margin-top: auto;
  max-width: 24.9rem;
}
.item__date {
  margin-top: 1.5rem;
  font-size: 1rem;
  font-weight: 400;
}

.container {
  padding: 2.5rem 7.5rem 5.94rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content {
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  align-items: center;
  color: #a3a3a3;
  font-size: 1rem;
  font-weight: 400;
}
.info__theme {
  margin-left: 3.2rem;
}
.info__share {
  background-color: transparent;
  border: none;
  margin-left: auto;
  outline: none;
  color: #a3a3a3;
  font-size: 1rem;
  font-weight: 400;
}

.article {
  margin-top: 2.6rem;
}
.article__heading {
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 2.25rem;
  letter-spacing: 0.0225rem;
  max-width: 37.5rem;
}
.article__img {
  margin-top: 2.5rem;
  max-width: 100%;
  height: auto;
}
.article__group {
  margin: 2.5rem 0;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.49rem;
}
.article__paragr {
  margin-top: 1.5rem;
  max-width: 47.6rem;
}

.main__heading {
  text-transform: uppercase;
}

.separator {
  margin: 2.5rem auto 3rem;
  border-left: 1px solid #a5a5a5;
}

.aside {
  max-width: 24.5625rem;
}
.aside__group {
  border-top: 1px solid #a5a5a5;
  padding-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.aside__img {
  margin-top: 2.4rem;
  max-width: 100%;
  height: auto;
}
.aside__separator {
  margin: 2.5rem 0;
  width: 17.0625rem;
  height: 1px;
  background-color: #a5a5a5;
}

.aside-article__heading {
  margin-top: 2rem;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.0125rem;
  text-transform: uppercase;
}
.aside-article__paragr {
  margin-top: 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.17rem;
  max-width: 24.1rem;
}

@media screen and (max-width: 1400px) {
  .separator {
    display: none;
  }
  .container {
    padding: 2.5rem;
  }
  .content {
    margin: 0 auto;
  }
  .aside {
    margin: 0 auto;
  }
}
@media screen and (max-width: 595px) {
  .carousel {
    height: 17.125rem;
  }
  .carousel__nav {
    margin: 0 auto;
  }
  .carousel__item {
    width: 14rem;
    height: auto;
  }
  .item__heading {
    font-size: 0.9rem;
  }
  .item__date {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 425px) {
  .container {
    padding: 1.25rem;
  }
  .article__group {
    font-size: 1rem;
  }
  .article__heading {
    font-size: 1.5rem;
    line-height: normal;
  }
  .info {
    font-size: 0.8rem;
    justify-content: space-around;
  }
  .info__theme {
    margin-left: 0;
  }
  .info__share {
    margin-left: 0;
    font-size: 0.8rem;
  }
}